.header{
    display: flex;
    justify-content: space-between;
    background-color: rgb(22, 113, 85);
    border: 3px solid rgb(187, 186, 186);
    border-radius: 10px;
    align-items: center;
}
.logo{
    width:90px;
    border-radius: 50%;
}
.company-name{
    display: flex;
    font-size: 50px;
    color: aliceblue;
    font-family:cursive;
    align-items: center;
    justify-content: center;
    margin-left: 200px;
}
.nav-items > ul {
    display: flex;
    font-size: 15px;
    list-style-type: none;
}
.nav-items >ul>li{
    padding: 5px;
    margin: 5px;
}
.res-card{
    /* padding: 5px; */
    align-items: center;
    justify-content: center;
    width:220px;
    height: 450px;
    background-color: rgb(228, 243, 228);
    border-radius: 10px;
    margin: 10px;
    border: 3px solid rgb(164, 241, 159);
}
.description{
    margin: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: green;
}
.description >h3,h4{
    margin: 2px;
}
.res-card :hover{
    cursor: pointer;
    border: 3px solid rgb(187, 186, 186);
}
.search-bar{
    padding: 10px;
    display: flex;
    justify-content: center;
}
.input-text{
    width: 500px;
    height: 23px;
    border: 2px solid green;
    border-radius: 5px;
    margin: 5px;
}
.input-text:hover{
    background-color: rgb(228, 243, 228);
}
.search-btn{
    width: 80px;
    border: 2px solid green;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}
.search-btn:hover{
    background-color: rgb(22, 113, 85);
}
.res-logo{
    width: 210px;
    margin: 5px;
    height: 200px;
}
.body{
    /* display: flex; */
    background-color: rgb(129, 201, 179);
}
.res-container{
    display: flex;
    flex-wrap:wrap ;
    margin: 5px;
}
.filter-btn{
    padding: 5px;
    margin: 10px;
    cursor: pointer;
}
.shimmer-container{
    display: flex;
    flex-wrap:wrap ;
    margin: 5px;
}
.shimmer-card{
    width:220px;
    height: 450px;
    /* background-color: rgb(214, 214, 214); */
    border-radius: 10px;
    margin: 10px;
}
.shimmer-logo{
    width: 200px;
    height: 200px;
    margin: 5px;
    background-color: rgb(185, 184, 184);
}
.shimmer-text{
    margin: 10px;
    background-color: rgb(189, 190, 189);
    width: 200px;
    height: 20px;
}
.login-btn{
    margin: 5px;
    padding: 3px;
    height: 30px;
}